nav{
	background-color: #dcdcdc;
	height: 50px;
	padding: 10px;

	div{
		width: 50%;
		margin: 0 auto;
		text-align: center;
	}
}


table, th, td{
	border: 1px solid black;
}
th{
	background-color: #dcdcdc;
}
th, td{
	padding: 5px;
}